@model CarrinhoDeComprasWEB.Models.ItensCarrinhoViewModel

<h3>Remover Item</h3>

<h4>Você tem certeza que quer remover o item?</h4>
<div>
    <hr />
    <form asp-action="RemoverItemDoCarrinho">
        <div class="form-horizontal">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Produto" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Produto" class="form-control" readonly />
                    <span asp-validation-for="Produto" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="PrecoUnitario" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="PrecoUnitario" asp-format="{0:N2}" class="form-control" readonly />
                    <span asp-validation-for="PrecoUnitario" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Quantidade" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Quantidade" class="form-control" readonly />
                    <span asp-validation-for="Quantidade" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-4">
                <label asp-for="Total" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Total" asp-format="{0:N2}" class="form-control" readonly />
                    <span asp-validation-for="Total" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group" style="padding-top: 10px">
                <input type="hidden" value="Remover" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-info">Voltar a lista</a>
            </div>
        </div>
    </form>
</div>

